
  .blog-hero {
    color: white;
    background: url('https://www.oxfordmartin.ox.ac.uk/images/_1400x450_crop_center-center_none/AdobeStock_274966107_Nature_based_Solutions.jpeg')
      center no-repeat;
    background-size: cover;
    box-shadow: 0 0 10px black;
    z-index: 1;
  height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    grid-area: hero;
  }
  .blog-hero > h1 {
    margin: 0;
    font-size: 4rem;
    text-shadow: 0px 0px 4px orange;
  }
  
  .blog-main {
    grid-area: main;
  }
  
  .blog-main > h3 {
    color: var(--clr-font-dark-100);
  }
  
  @media only screen and (min-width: 650px) {
    .blog-hero {
      padding: 2rem;
    }
  }