
.slide1{
    background:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)), url('https://i.ibb.co/QCjkfhK/banner-1.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: center;
    background-attachment: fixed;
  }
  .slide2{
    background:linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)), url('https://i.ibb.co/FWqXT4J/banner-2.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: center;
    background-attachment: fixed;
  }
  .slide3{
    background:linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), url('https://i.ibb.co/cNyd8LW/banner-3.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: center;
    background-attachment: fixed;
  }
  .slide4{
    background:linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), url('https://i.ibb.co/Hx5Pwbc/banner-4.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: center;
    background-attachment: fixed;
  }
  
  .banner-text h1{
    font-size: 75px;
    font-weight: bold;
  }
  
  @media screen and (max-width: 500px) {
    /* .slide1{
      height: 100%;
    }
    .slide2{
      height: 100%;
    }
    .slide3{
     height: 100%;
    } */
  
    .banner-text{
      background-color: rgba(191, 191, 191, 0.193);
      padding: 20px;
      border-radius: 20px;
    }
      .banner-text h1{
        font-size: 35px;
        font-weight: bolder;
      }
  }